body {
    background-color: gainsboro;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 10em;
}
h1{
    color: blueviolet;
    padding: 2em;
}
p{
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.5em;
    padding: 2em;
}
table {
    width:70%;
}
th, td{
    padding:2%, 5%, 5%, 5%;
}
th{
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 90%;
    border-bottom: 2px solid #111111;
    border-top: 1px solid #999;
    text-align: left;
}
