<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="/tables.css">
    <title>Document</title>
</head>
<body>
<header>
    <nav>
        <ul>
            <li><a href="/"> Home </a></li>
            <li><a href="/albums">Albums</a></li>
        </ul>
    </nav>
</header>


<h1> Add Albums page!!!</h1>

<form action="/album" method="POST">
<Legend><h2>Add New Albums Here: </h2></Legend>
    Title <input type="text" name="title">
    Artist <input type="text" name="artist">
    Number of songs in the albums <input type="number" name="songCount">
    Length in seconds <input type="number" name="length">
    ImageUrl <input type="text" name="imageUrl">
    Favorite Color <input type="text" name="color">
    Song Title <input type="text" name="songTitle">
    Song Length <input type="number" name="songLength">
    Track Number <input type="number" name="trackNumber">
    <input type="submit">
</form>

<section th:each="album:${albums}">
    <a th:href="'/album/' + ${album.getId()}"><h2 th:text="${album.title}"> Title
    </h2></a>
    <h3 th:text="'Artist: '+${album.artist}"> Artist
    </h3>
    <p th:text="'Song Count '+${album.songCount}"> Song Count:

    </p>
    <p th:text="'Album Length '+${album.length}">
        Length:
    </p>
    <img src=th:text="${album.imageUrl}" alt="Albums">
    <p th:text="${album.color}">
        Color
    </p>
    <ul th:if="${album.getAllSongs()}" th:each="song:${album.allSongs}">
        <li th:text="'Song Title '+ ${song.getSongTitle()}"></li>
        <li th:text="'Song Track Number ' + ${song.getTrackNumber()}"></li>
    </ul>
    <form action="/moresongs" method="POST">
        Song Title <input type="text" name="songTitle">
        Song Length <input type="number" name="songLength">
        Track Number <input type="number" name="trackNumber">
        <input type="hidden" name="albumId" th:value="${album.getId()}">
        <input type="submit" value="Add More Songs">
    </form>
    <form action="/delete/album" method="post">
        <input type="hidden" name="albumId" th:value="${album.getId()}">
        <input type="submit" value="Delete Album">
    </form>
</section>

</body>
</html>