<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="/tables.css">
    <title>Document</title>
</head>
<body>
<h1> Add Albums page!!!</h1>

<form action="/album" method="POST">

    Title <input type="text" name="title">
    Artist <input type="text" name="artist">
    Number of songs in the albums <input type="number" name="songCount">
    Length in seconds <input type="number" name="length">
    ImageUrl <input type="text" name="imageUrl">
    Favorite Color <input type="text" name="color">
    Song Title <input type="text" name="songTitle">
    Song Length <input type="number" name="songLength">
    Track Number <input type="number" name="trackNumber">
    <input type="submit">
</form>

<section th:each="album:${albums}">
    <h2 th:text="${album.title}"> Title
    </h2>
    <h3 th:text="${album.artist}"> Artist
    </h3>
    <p th:text="${album.songCount}"> Song Count:

    </p>
    <p th:text="${album.length}">
        Length:
    </p>
    <img src=th:text="${album.imageUrl}" alt="Albums">
    <p th:text="${album.color}">
        Color
    </p>
    <table>
        <td th:if="${album.allSongs.size() > 0}" th:each="song:${album.allSongs}"  th:text="${song.songTitle}">Teaching cool peeps</td>
        <td th:text="${song.songLength}">9</td>
        <td th:text="${song.trackNumber}">10</td>
    </table>
</section>

</body>
</html>